{% extends 'base/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container tamañoFormularioAncho colorAzulClaroFondo fondoPrincipal" style="margin-top: 150px;padding-bottom: 50px;">

        <!-- Imagen del empleado -->
        <div class="login-form form-form" >
            <div class="avatar" style="top: 360px !important;">
                    <img class="img-form" src="../static/assets/img/avatar.png" alt="Avatar">
            </div>
        </div>

        <!-- Accesos directos -->
        <div class="container">
            <h3 class="page-section-heading text-center text-uppercase text-light mb-0" style="padding-bottom: 50px">{{nombreRol}} ADMIN :)</h3>
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <div class="card text-center bg-warning">
                        <div class="card-body">
                            <h3 class="card-title">BUSCAR <i class="fas fa-search fa-sm"></i></h3>
                            <p class="card-text">Consultar la información del empleado ingresando su documento de identidad.</p>
                            <a href="{{ url_for('buscarEmpleado') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center text-white bg-success">
                        <div class="card-body">
                            <h3 class="card-title">AGREGAR <i class="fas fa-plus-circle fa-sm"></i></h3>
                            <p class="card-text">Registrar la información del nuevo empleado ingresando su documento de identidad.</p>
                            <a href="{{ url_for('crearEmpleado') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-info">
                        <div class="card-body">
                            <h3 class="card-title">EDITAR <i class="fas fa-edit fa-sm"></i></h3>
                            <p class="card-text">Actualizar la información del empleado ingresando su documento de identidad.</p>
                            <a href="{{ url_for('editarEmpleado') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center text-white bg-purple">
                        <div class="card-body">
                            <h3 class="card-title">ELIMINAR <i class="fas fa-trash-alt fa-sm"></i></h3>
                            <p class="card-text">Depurar la información del empleado ingresando su documento de identidad.</p>
                            <a href="{{ url_for('eliminarEmpleado') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-md-8" style="padding-top: 20px">
                    <div class="card text-center text-white bg-red">
                        <div class="card-body">
                            <h3 class="card-title">PANEL DE RETROALIMENTACIONES <i class="fas fa-users"></i></h3>
                            <p class="card-text">Gestone la retroalimentación para sus empleados desde un solo lugar!</p>
                            <a href="{{ url_for('gestionarRetro') }}" class="stretched-link" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
