<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/vistaRol.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Seleccione Usuario</h1>

    <div class="select-role">
        <button type="button" onclick="location.href='{{ url_for('dashboard') }}'">Administrador</button>
    </div>
    <div class="employee">
        <button type="button" onclick="location.href='{{ url_for('dashboardEmpleado') }}'">Empleado</button>
    </div>
</body>
</html>