{% extends 'base/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Formulario de ingreso de datos -->
    <div class="tamañoFormularioAncho container colorAzulClaroFondo fondoPrincipal " style="padding-top: 3rem;margin-top: 150px">
        <div class="row  justify-content-start" style=" z-index: 50">
            <div class="col-sm-7">
                <div class=" tamañoFormularioColumna login-form" style="padding-top: 0 !important">
                    <form class="form-form" style="background: #c4c4c4 !important" action="#" method="post">
                        <h2 class="text-center " style="font-family: 'Roboto', sans-serif;">Buscar por:</h2>
                        <div class="form-group">
                            <div class="container marginNuloLados paddingNuloLados">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-control" name="tipo" required="required">
                                           <option hidden selected value="">Tipo</option>
                                           <option value="CC">CC</option>
                                           <option value="CE">CE</option>
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <input type="number" class="form-control" name="numeroId" placeholder="Número de identificación" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-grid gap-2 col-4 mx-auto" style="z-index: 100">
                            <button type="submit" class="btn btnBuscar btn-primary btn-lg"><i class="fas fa-search fa-2x text-black"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 login-form" style="padding: 0 !important;">
                <div class="avatar" style="position: initial !important;">
                    <img class="img-fluid img-form" src="../static/assets/img/avatar.png" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="login-form" style="padding-top: 0 !important">
            <form class="form-form" action="#" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <!--<h2 class="text-center h2-form">Member Login</h2>-->
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombres" required="required" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellidos" required="required" readonly>
                        </div>
                        <div class="form-group">
                            <div class="container marginNuloLados paddingNuloLados">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-control" name="tipo" required="required" disabled>
                                           <option hidden selected value="">Tipo</option>
                                           <option value="CC">CC</option>
                                           <option value="CE">CE</option>
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <input type="number" class="form-control" name="numeroId" placeholder="Número de identificación" required="required" readonly>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="direccion" placeholder="Dirección" required="required" readonly>
                        </div>
                        <div class="form-group">
                            <div class="container marginNuloLados paddingNuloLados">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="telefono" placeholder="Celular/Telefono" required="required" readonly>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="fechaNacimiento" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" required="required" disabled>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                           <div class="container marginNuloLados paddingNuloLados">
                              <div class="row">
                                <div class="col-6">
                                  <input type="text" class="form-control" name="tipoContrato" placeholder="Tipo de Contrato" required="required" readonly>
                                </div>
                                <div class="col-6">
                                  <input type="text" class="form-control" name="fechaIngreso" placeholder="Fecha de Ingreso" onfocus="(this.type='date')" required="required" disabled>
                                </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="cargo" placeholder="Cargo" required="required" readonly>
                        </div>
                        <div class="form-group">
                           <div class="container marginNuloLados paddingNuloLados">
                              <div class="row">
                                <div class="col-5">
                                  <input type="number" class="form-control" name="salario" placeholder="$ Salario" required="required" readonly>
                                </div>
                                <div class="col-7">
                                  <input type="text" class="form-control" name="fechaTerminoContrato" placeholder="Fecha de termino de contrato" onfocus="(this.type='date')" required="required" disabled>
                                </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="dependencia" placeholder="Dependencia" required="required" readonly>
                        </div>
                    </div>
                    <div class="row justify-content-md-center  col-3 mx-auto">
                        <button type="submit" style="background-color: #d23530; border-color: #d23530; max-width: 100px" class="btn btn-primary btn-lg" disabled><i class="fas fa-edit fa-2x text-light"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
