<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">

</head>
<body>
  <div class="login-box">
    <img class="avatar" src="../static/assets/img/login_image.jfif">
    <h1></h1>
    <form method="POST">
          <!--nombre de usuario-->
          <br/><label style="color: #318fc2" for="username">Número de identificación</label>
          <input type="number" placeholder="Ingrese Número de identificación" name="username" required>
          <!--Contraseña-->
          <label style="color: #318fc2" for="password">Contraseña</label>
          <input type="password" placeholder="Ingrese su contraseña" name="password" required>
          <input type="submit" value="Iniciar sesión">
    </form>
  </div>
</body>
</html>