{% extends 'base/baseEmpleado.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row align-items-start">
      <div class="col" style="background-color: #328FC2; width: 50%; height: auto; padding: 2%; margin-top: 5%; margin-right: 5%;">

          <canvas id="myChart" style="width:100%;max-width:400px; height: 200px;"></canvas>

          <script>
          var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
          var yValues = [55, 49, 44, 24, 15];
          var barColors = ["red", "green","blue","orange","brown"];

          new Chart("myChart", {
            type: "bar",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              legend: {display: false},
              title: {
                display: true,
                text: "World Wine Production 2018"
              }
            }
          });
          </script>
      </div>
      <div class="col" style="background-color: #328FC2; width: 50%; height: auto; padding: 2%; margin-top: 5%; ">

          <canvas id="myChart1" style="width:100%;max-width:400px; height: 200px;"></canvas>

          <script>
          var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
          var yValues = [55, 49, 44, 24, 15];
          var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
          ];

          new Chart("myChart1", {
            type: "pie",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              title: {
                display: true,
                text: "World Wide Wine Production 2018"
              }
            }
          });
          </script>
      </div>
    </div>
  </div>

{% endblock %}